<div class = "container">
    <div class = "row">

        <div class = "col-md-12">
            <h1>Scaping With Mongo</h1>
        </div>

        <a href ="/scrape">
            <div><h4> - Scape It - </h4></div>
        </a>

        <div class = "row">
            {{#each articleS}}
                <a href ="{{this.link}}"><h2>{{this.title}}</h2></a>
                <p>{{this.author}}</p>
                     
             {{/each}}

        </div>
        
        



    </div>

</div>